@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #881485;
}

div header{
  height: 17vh;
  width: 42vw;
  display: flex ;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
}

div header h1{
  color: white;
  font-size: 4em;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

main{
  height: 82vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .containerFantasias{
  width: 61vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #881485;
}

main .containerFantasias .containerFundo{
  height: 35vh;
  width: 12vw;
  margin: 15px 50px 5px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFB41C;
  border-radius: 35px;
}

main .containerFantasias .Imagens{
  height: 29vh;
  width: 10vw;
}

main .containerFantasias .Legendas{
  color: #ED2E2E;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
}